.main-dialogs-container {
  position: absolute;
  display: flex;
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  z-index: 1;
  left: 200px;
  top: 80px;
}

.selected-dialog h2, .dialogs-switch h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.selected-dialog hr, .dialogs-switch hr {
  margin-bottom: 20px;
}