.profile-container {
  position: absolute;
  z-index: 1;
  left: 200px;
  top: 80px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
}

.create-post-block {
  margin: 10px;
  height: 190px;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
}

.my-posts {
  margin: 10px;
  height: 5000px;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
}