.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
  top: 80px;
  width: 200px;
  background: rgba(37, 39, 42, 0.95);
  height: 100%;
  padding-top: 5px;
  padding-left: 2px;
}

.nav-links {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.menu-item {
  display: flex;
  border: none;
  margin: 5px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.4s;
  transform: translate3d(10px, -5px, 0px);
  box-shadow: 0 13px 27px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu hr {
  width: 90%;
}